body {
    margin: 0 auto;
    overflow: hidden;
}

.cover {
    .header {
        margin: 0 auto;
        width: 100%;
        height: 640px;
        background-color: #000;
        position: relative;
        canvas {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: baseline;
            position: absolute;
            left: 0;
            top: 0;
        }
        .top_logo {
            background-image: url(../images/top_logo.png);
            margin: 0 auto;
            width: 750px;
            height: 200px;
            position: absolute;
            z-index: 30;
            top: 100px;
            left: 50%;
            margin-left: -390px;
        }
        .nav {
            width: 440px;
            height: auto;
            position: absolute;
            z-index: 30;
            top: 420px;
            left: 50%;
            margin-left: -220px;
        }
        a.gv {
            text-decoration: none;
            background: url(../images/nav_gv.png) repeat 0px 0px;
            width: 130px;
            height: 43px;
            display: block;
            text-align: center;
            /*水平居中*/
            line-height: 43px;
            /*上下居中*/
            cursor: pointer;
            float: left;
            /*左浮动*/
            margin: 8px 2px 8px 2px;
            font: 18px/43px 'microsoft yahei';
            color: #066197;
            span {
                display: none;
            }
            &:hover {
                background: url(../images/nav_gv.png) repeat 0px -43px;
                color: #1d7eb8;
                -webkit-box-shadow: 0 0 6px #1d7eb8;
                transition-duration: 0.5s;
            }
            .topcn {
                width: 980px;
                top: 200px;
                left: 50%;
                margin-left: -490px;
                position: absolute;
                z-index: 20;
            }
        }
    }
    .canvaszz {
        width: 100%;
        background-image: url(../images/in_top_bj.jpg);
        height: 640px;
        position: absolute;
        z-index: 10;
        filter: alpha(opacity=40);
        -moz-opacity: 0.4;
        -khtml-opacity: 0.4;
        opacity: 0.4;
    }
    .audio {
        width: 45px;
        position: fixed;
        top: 65px;
        left: 94%;
        z-index: 100;
        filter: alpha(opacity=30);
        -moz-opacity: 0.3;
        -khtml-opacity: 0.3;
        opacity: 0.3;
    }
}