.arrow-left-big,.arrow-left-small,.arrow-right-big,.arrow-right-small,.cancel-pause,.delete-icon-small,
.download,.edit-file,.edit-propertys,.eye-icon-big,.eye-icon-small,.has-praise,.no-praise,.pause,.praise-icon-big,
.praise-icon-small,.start-service,.view-service-info,.view-task-group,.view-task-result {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.arrow-left-big {
    background-image: url('../images/icon/arrow_left_big.png');
}
.arrow-left-small {
    background-image: url('../images/icon/arrow_left_small.png');
}
.arrow-right-big {
    background-image: url('../images/icon/arrow_right_big.png');
}
.arrow-right-small {
    background-image: url('../images/icon/arrow_right_small.png');
}
.cancel-pause {
    background-image: url('../images/icon/cancel_pause.png');
}
.delete-icon-small {
    background-image: url('../images/icon/delete_icon_small.png');
}
.download {
    background-image: url('../images/icon/download.png');
}
.edit-propertys {
    background-image: url('../images/icon/edit_property.png');
}
.edit-file {
    background-image: url('../images/icon/edit-file.png');
}
.eye-icon-big {
    background-image: url('../images/icon/eye_icon_big.png');
}
.eye-icon-small {
    background-image: url('../images/icon/eye_icon_small.png');
}
.has-praise {
    background-image: url('../images/icon/has-praise.png');
}
.no-praise {
    background-image: url('../images/icon/no-praise.png');
}
.pause {
    background-image: url('../images/icon/pause.png');
}
.praise-icon-big {
    background-image: url('../images/icon/praise_icon_big.png');
}
.praise-icon-small {
    background-image: url('../images/icon/praise_icon_small.png');
}
.start-service {
    background-image: url('../images/icon/start_service.png');
}
.view-service-info {
    background-image: url('../images/icon/view_service_info.png');
}
.view-task-group {
    background-image: url('../images/icon/view_task_group.png');
}
.view-task-result {
    background-image: url('../images/icon/view_task_result.png');
}